<div>
  <%= image_tag('/gandhi1.jpg', size: "310x200") %>
  <%= image_tag('/mark-twain.jpg', size: "320x200") %>
  <%= image_tag('/nelson-mandelo.jpg', size: "320x200") %>
  <%= image_tag('/malcolm.jpg', size: "320x200") %>
</div><br />

<% if signed_in? %>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/dashboard_page">Dashboard Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assignments">Assignment Page</a>
  </li>
  <% if current_user.role == "tutor_assistant" %>
  <li class="nav-item">
    <a class="nav-link" href="/all_educator">Tutor/Teaching Assignment Page</a>
  </li>
  <% end %> 
</ul>
<% end %>