<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/subjects">Join Class</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/subjects">My Courses</a>
  </li>
  <li class="nav-item">
    <%= link_to image_tag('/notification-circle.png', size: "40x40") %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My Performance</a>
  </li>
  <li class="nav-item">
    <a href="/subjects" class="dropdown-toggle " data-toggle="dropdown">Menu</b></a>
    <ul id="dropdown-menu" class="dropdown-menu">
      <li><a href="/users/edit">Profile</a></li>
      <li><a href="/helps/new">Help</a></li>
      <li><a href="/surveys/new">Create Class</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="/subjects">Join Class</a></li>
    </ul>
  </li>
</ul>