<br><h2><%= t('helps.Failed Course Purchases') %></h2><br />
<p>Having trouble completing a purchase?  Purchase attempts can fail for a variety of reasons: please have a look at some of the most common issues that can happen, when attempting to make a purchase on Udemy.</p><br />
<h4>Common Troubleshooting Steps for Failed Payments </h4><br />
<h5>Saved Payment Method</h5><br />
<p>Are you trying to purchase with a saved payment method?  As an initial step, try deleting it and re-adding it to ensure the details are correct and up to date.  For more information about how to do this, please refer to this article.  You can also remove it from your Udemy profile by clicking here.
</p><br />
<h5>Incomplete Name</h5>
<p>Please ensure you are entering your first and last name exactly as it appears on your card in the “name on card” field, or the purchase may be declined.
</p><br />
<h5>Non-United States Debit Cards</h5><br />
<p>Udemy is based in the United States. Debit cards in some countries might not allow foreign transactions. If you’re trying to purchase with a debit card that was issued outside of the U.S., and you are experiencing trouble making a payment, try calling your bank to ensure it’s authorized for international purchases.
</p><br />
<h5>International Purchases</h5><br />
<p>Is the issuing country for your card different from your country of residence? If so, your card might not be approved. If you experience trouble using the card, contact Udemy Support and we can look into this for you.
</p>
