<br> <h2> Неудачные покупки курса </h2> <br />
<p> У вас возникли проблемы с покупкой? Попытки покупок могут потерпеть неудачу по разным причинам: пожалуйста, взгляните на некоторые из наиболее распространенных проблем, которые могут возникнуть при попытке совершить покупку у Удмени. </p> <br />
<h4> Общие шаги по устранению неполадок для неудачных платежей </h4> <br />
<h5> Сохраненный способ оплаты </h5> <br />
<p> Вы пытаетесь приобрести с сохраненным способом оплаты? В качестве начального шага попробуйте удалить его и повторно добавить его, чтобы убедиться, что данные верны и обновлены. Для получения дополнительной информации о том, как это сделать, обратитесь к этой статье. Вы также можете удалить его из своего профиля Udemy, нажав здесь.
</p> <br />
<h5> Неполное имя </h5>
<p> Пожалуйста, убедитесь, что вы вводите свое имя и фамилию точно так же, как оно отображается на вашей карте в поле «имя на карте», или покупка может быть отклонена.
</p> <br />
<h5> Дебетовые карты, не относящиеся к США </h5> <br />
<p> Udemy базируется в Соединенных Штатах. Дебетовые карты в некоторых странах могут не разрешать иностранные транзакции. Если вы пытаетесь приобрести дебетовую карту, выпущенную за пределами США, и у вас возникли проблемы с внесением платежа, попробуйте позвонить в ваш банк, чтобы убедиться, что он уполномочен на международные покупки.
</p> <br />
<h5> Международные покупки </ h5> <br />
<p> Является ли страна-эмитент вашей карты отличной от вашей страны проживания? Если это так, ваша карта может быть не одобрена. Если у вас возникли проблемы с использованием карты, свяжитесь с Udemy Support, и мы можем изучить это для вас.
</p>