<br><h2><%= t('helps.I Cant Find my Course') %></h2>
<p>If you've bought a course and it is not showing up in My Courses, try the following suggestions:</p>
<p>
  Is the Course Archived?
</p>
  <p>1.Go to My Courses.</p>
  <p>2. From the Categories filter on the left, select Archived </p>
  <p>3.If you see the missing course, click the ellipsis (...) and Unarchive the course.
  </p>
<h4>Missing Mobile Purchase</h4>
<p>If you purchased a course on mobile, it's possible that the course was not registered to your account. Please email your purchase receipt to support@udemy.com.</p>
<h4>Multiple E-mail Accounts</h4>
<p>If you use multiple e-mail accounts, or have a Facebook or Google account, try logging in with the associated e-mail addresses.</p>
<h4>Misspelled E-mail</h4>
<p>If you're still having trouble, you may have misspelled your e-mail when first signing up. If you did not receive an e-mail with a receipt for your purchase, please send a message to support@udemy.com and include your first and last name, and the title of the course that you're missing.</p>
<h4>Still Stuck?</h4>
<p>1.Course title</p>
<p>2.First and last name</p>
<p>3.Course purchase date</p>
<p>4.Purchase receipt</p>

