<br> <h2> Я не могу найти свой курс </h2>
<p> Если вы купили курс, и он не отображается в «Мои курсы», попробуйте следующие предложения: </p>
<p>
  Является ли курс архивированным?
</p>
  <p> 1.Покупайте мои курсы. </p>
  <p> 2. Из фильтра «Категории» слева выберите «Архивированный» </p>
  <p> 3. Если вы видите недостающий курс, щелкните эллипсис (...) и отпустите курс.
  </p>
<h4> Отсутствует мобильная покупка </h4>
<p> Если вы приобрели курс на мобильном телефоне, возможно, что курс не был зарегистрирован в вашей учетной записи. Отправьте рассылку по электронной почте на адрес support@udemy.com. </p>
<h4> Несколько учетных записей электронной почты </h4>
<p> Если вы используете несколько учетных записей электронной почты или имеете учетную запись Facebook или Google, попробуйте войти в систему с соответствующими адресами электронной почты. </p>
<h4> Письмо с ошибкой </h4>
<p> Если у вас все еще есть проблемы, у вас может возникнуть ошибка при отправке электронной почты при первой регистрации. Если вы не получили электронное письмо с квитанцией о покупке, отправьте сообщение на адрес support@udemy.com и укажите свое имя и фамилию и заголовок курса, который вам не хватает. </p>
<h4> Все еще застрял? </h4>
<p> 1. Название курса </p>
<p> 2. Имя и фамилия </p>
<p> Дата покупки на курсе </p>
<p> 4. Получение покупки </p>