<br><h2><%= t('helps.Send a Message to the Instructor')%></h2>
<p>Udemy instructors work hard to provide you with a high quality and compelling course. If you have any questions or comments about the course materials you can send the instructor a message. Please note: messaging is not yet available on the Udemy app.</p><br />
<h4>If You're Already Enrolled in the Course</h4><br>
<p>You can message an instructor from the course dashboard: </p>
<p>1. From My Courses, navigate to the course dashboard </p>
<p>2. On the left hand side of the page, click on Overview, and scroll down. You will see the instructor's profile at the bottom of the page. Click on the instructor's name and you will be directed to their profile page</p>
<p>3. Hit Send message. You will be taken to your inbox</p>
<p>4. Compose message and click Send</p><br />
<h4>If You're Not Enrolled in the Course</h4>
<p>​1. If you're browsing courses and want to ask a question before you enroll, send the instructor a question from the course landing page.</p>
<p>2. Scroll down to the About the Instructor section on the course landing page</p>
<p>3. Click on the instructor's name and you will directed to the their profile</p>
<p>4. Click on Send Message</p>
<p>5. Type your message and hit Send</p>