<br> <h2> Отправить сообщение инструктору </h2>
<p> преподаватели Udemy упорно работать, чтобы предоставить вам с высоким качеством и убедительным, конечно. Если у вас есть какие-либо вопросы или комментарии о материалах курса, вы можете отправить инструктору сообщение. Обратите внимание: обмен сообщениями еще не доступен в приложении Udemy. </p> <br />
<h4> Если вы уже зарегистрированы на курсе </h4> <br>
<p> Вы можете отправить инструктора из панели курса: </p>
<p> 1. В разделе «Мои курсы» перейдите к панели управления курсом </p>
<p> 2. В левой части страницы нажмите Обзор и прокрутите вниз. Вы увидите профиль преподавателя в нижней части страницы. Нажмите на имя инструктора, и вы попадете на страницу своего профиля. </p>
<p> 3. Хит Отправить сообщение. Вы попадете в папку «Входящие» </p>
<p> 4. Напишите сообщение и нажмите «Отправить» </p> <br />
<h4> Если вы не зарегистрированы в курсе </h4>
<p> 1. Если вы просматриваете курсы и хотите задать вопрос перед тем, как зарегистрироваться, отправьте инструктору вопрос с целевой страницы курса. </p>
<Р> 2. Прокрутите вниз до раздела «О инструкторе» на целевой странице курса </p>
<p> 3. Нажмите на имя инструктора, и вы направите его профиль </p>
<p> 4. Нажмите «Отправить сообщение» </p>
<p> 5. Введите ваше сообщение и нажмите Отправить </p> <br>
<h2> Отправить сообщение инструктору </h2>