<br><h2><%= t('helps.Video Playback Issues') %></h2><br />
<p>If the video lecture is not loading, try the following steps to resolve the most common video loading issues.</p>
<h4>Troubleshooting</h4>
<p>1. Refresh your browser.</p>
<p>2. Quit your browser and re-open it.</p>
<p>3. Log out of Udemy and log back in.</p>
<p>4. Clear your browser's cookies and cache. Be sure to restart your browser before trying again.</p>
<p>5. Restart your computer and your modem</p>
<p>6. Check your browser version and update if outdated.</p>
<p>7. Try a different browser, like Google Chrome.</p>
<p>8. Try a different device or computer if possible</p>
<p>9. Turn off hardware acceleration (in Firefox or on Windows).</p>
<p>10. Try lowering the video quality of the lecture.</p>
<p>11. Take a note of your browser extensions/plugins/firewall programs. Is there anything that could be interfering with the streaming of the videos? We recommend testing with an incognito window to troubleshoot.</p>
<p>Test your internet connection's speed.</p><br />
<p>If you're still having trouble, it's possible that there's something wrong with the video file. Please send a message to the instructor and contact Udemy Support. When contacting support, please include:
</p><br />
<p>1. Your browser version</p>
<p>2. Your OS (Windows 7, Mac OS X, etc.)</p>
<p>3. The course URL and lecture number</p>
<p>4. Your internet connection speed test results</p>
<p>5. The resolution you were watching the video lecture at (ie - 720p, 480p etc)</p>
<p>6. A screenshot or screencast of the problem. The more information you can provide, the faster we'll be able to resolve the issues you're encountering on our site.</p><br />
<h5>Please note:</h5><p>currently the operating system for Chromebook machines are not fully supported by our video player. If you encounter video playback issues while using a Chromebook, and none of the troubleshooting steps above resolve the problem, please contact our support team. They will do their best to resolve the issue for you.</p><br />
