<p>
<h4>Course Description :-</h4>
  <%= @subject.content %>
</p>

<p>
<h4>Course Objective :-</h4>
  <%= @subject.objective %>
</p>

<p>
<h4>Course Lesson/Plan Summary :-</h4>
  <%= @subject.lesson_plan %>
</p>